.App {
  text-align: center;
  background-color: #f2f2f2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard-image {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
}

.ally-header-image {
  max-width: 100%;
  max-height: 100%;
}

.process1 {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
}

.process2 {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.process2page {
  background-color: #f2f2f2;
}

.process3 {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.process3page {
  background-color: #f2f2f2;
}

.process4 {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.process4page {
  background-color: #f2f2f2;
}

.body {
  background-color: #f2f2f2;
}

.deals {
  background-color: #f2f2f2;
}

/* Progress bar from react bootstrap */
/* .progress_bar {
  background-color: gray;
} */